# Bật module rewrite URL
RewriteEngine On

# Định nghĩa thư mục gốc của web
RewriteBase /

#Viết các luật
RewriteRule ^lien-he$ contact.php [QSA]

RewriteRule ^page-([0-9]*)$ index.php?page=$1

RewriteRule ^danh-muc/(.*)-([0-9]*)$ cat.php?cat_id=$2 [QSA]

RewriteRule ^(.*)-([0-9]*).html$ detail.php?story_id=$2

#Hiển thị trang thông báo lỗi

ErrorDocument 404 http://astory.com/error.html  